.dateTime {
	margin-top: 40px;
}

.dateInput {
	margin-bottom: 20px;
}

.timeInput {
	margin-bottom: 20px;
}

.resultSec {
	margin-top: 40px;
	margin-bottom: 50px;
}

.timeTable {
	margin-bottom: 100px;
}

.saicClass {
	background-color: #dddddd;
}

td {
	vertical-align: middle !important;
}


/*table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}*/

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/